# Environment specific files
/config.php

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

#Composer
composer.lock
/vendor